@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.blue-wave-1 {
    width: 100%;
    max-width: 800px;
    position: absolute;
    z-index: -1;
    left: 0;
}

.white-wave {
    position: absolute;
    z-index: -1;
    height: 3252.189208984375px;
    width: 2627.531494140625px;
    left: -90px;
    top: 1858px;
    border-radius: 0px;
    
}

.blue-wave-2 {
    width: 100%;
    max-width: 800px;
    position: absolute;
    z-index: -1;
    top: 1450px;
    right: 0;
}

.top {
    background-color: #FFFFFF;
    text-align: center;
}


.top-span-text {
    width: 904px;
    height: 116px;
    font-family: 'PT Sans', sans-serif;
    font-size: 3vw;
    line-height: 8vh;
    text-align: center;
    color: #434444;
}

.top-heading-img {
margin-top: 30px;
max-width: 80%;
}

.top img {
    position: relative;
    top: 5px;
}

.text {
    height: 94px;
    font-family: 'PT Sans', sans-serif;
    font-size: 2vw;
    line-height: 6vh;
    text-align: center;
    color: #434444;
}

.highlight-squad {
    color: white;
    background: #3CC1D9;
}

.section-2 {
    width: 100%;
    background-color: #141645;
    justify-content: center;
    z-index: 1;
}

.btn-container {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

#btn-1 {
    height: 50px;
    width: 200px;
    background: #3CC1D9;
    border-radius: 200px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-top: 8px;
}


/* .btn:hover {

} */

.btn-container-2 {
    margin-bottom: 50px;
}

.btn-container-2 #btn-2 {
    background: #141645;
    border: none;
}

.Headlines {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    color: #7FBFAA;
    line-height: 50px;
    z-index: 3;
}

.text-purple-section {
    font-family: 'PT Sans', sans-serif;
    line-height: 6vh;
    font-size: 2vw;
    color: #FFFFFF;
    z-index: 3;
}

.text-align {
    width: 70%;
    margin-left:auto;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-form-input {
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    padding: 0px 10px;
    border: none;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    background-color: rgba(196, 196, 196, 0.25);
    color: rgba(0, 0, 0, 0.4) !important;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.text-form-input:focus {
    outline: none;
}

.check-box-input {
    height: 30px;
    width: 30px;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    margin-right: 20px;
    -webkit-appearance: none;
    display: flex;
    align-items: center;
}

.check-box-input:checked:after {
    content: url('./images/v.svg');
    margin-left: 5px;
    margin-bottom: 5px;
  }

.checkbox-container {
    display: flex;
    align-items: center;
}

.check-box-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 20px;
    opacity: 0.4;
    margin: 0;
}

::-webkit-input-placeholder {
    text-align: left;
    margin-left: 20px;
 }

 .join-us-h1 {
     text-align: center;
 }

.illustration {
    background-color: #323695;
    height: 300px;
    min-height: 10vh;
    min-width: 15vh;
    width: 80%;
    max-width: 700px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
 }
 
 li svg {
    width: 2vw;
    height: 2vw;
    max-width: 35px;
    max-height: 35px;
 }

 .icon-1:before {
    content: url('./images/dotLeftDown.svg') ;
    margin-right: 10px;
    vertical-align: middle;
 }

 .icon-2:before {
    content: url('./images/dotRightDown.svg') ;
    margin-right: 10px;
    vertical-align: middle;
 }

 .icon-3:before {
    content: url('./images/dotLeftUp.svg') ;
    margin-right: 10px;
    vertical-align: middle;
 }

 .animation {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: baseline;
 }

 .animation-man {
     width: 7vw;
     /* height: 2vw; */
 }

 .animation-machine {
    width: 25vw;
    /* height: 2vw; */
}

@media screen and (max-width: 1025px) {
    .top-span-text {
        font-size: 3vw;
        line-height: 4vh;
    }

    .text {
        font-size: 2vw;
        line-height: 3vh;
    }

    .Headlines {
    font-size: 4vw;
    }

    .text-purple-section {
        line-height: 4vh;
        font-size: 2.2vw;
    }

    .text-align {
        width: 80%;
    }

    .blue-wave-2 {
        top: 1100px;
    }
    
}

@media screen and (max-width: 800px) {
    .top-span-text {
        font-size: 4vw;
    }

    .text {
        font-size: 3vw;
    }

    .Headlines {
    font-size: 5vw;
    }

    .text-purple-section {
        line-height: 6vh;
        font-size: 2.4vw;
    }

    .blue-wave-2 {
        top: 1100px;
    }
    
}

@media screen and (max-width: 412px) {
    .top-span-text {
        font-size: 4vw;
    }

    .text {
        font-size: 3vw;
    }

    .Headlines {
    font-size: 6vw;
    }

    .text-purple-section {
        line-height: 3vh;
        font-size: 3.2vw;
    }

    .top-heading-img {
        max-width: 70%;
    }

    .text-align {
        width: 90%;
    }

    #btn-1 {
        height: 4vh;
        width: 30vw;
        font-size: 3vw;
    }
    
    .blue-wave-2 {
        top: 1100px;
    }
}
